body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.navbar-brand{

    background: url('../img/logo.jpg') no-repeat center right; 
     display: inline-grid;
     width: 200px;
     height: 50px;
     text-indent: -9999px; /* hides the link text */
     align-content:flex-start;
     
}
.navbar navbar-inverse navbar-fixed-top{
    background:white;
     
}
.navbar{

   
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;

   
}


#Map{
   
    width: 1135px;
    height: 1000px;


}