@{
    ViewBag.Title = "About";
}

<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>About Us</h1>
            </div>
        </div>
    </div>
</div>
<div class="container body-content">
    <div class="wrapper row2">
        <div id="container" class="clear">

            <div id="about-us" class="clear">
              
                <section id="about-intro" class="clear">
                    <p>In odio. Mauris feugiat. Nunc posuere, felis sit amet faucibus convallis, tortor enim viverra quam, hendrerit interdum dui quam ut lacus. Ut dui dui, viverra ac, vulputate scelerisque, viverra molestie, tortor. Nullam quis odio id justo accumsan ullamcorper. Mauris lectus enim, luctus vitae, viverra a, pharetra mollis, diam. Donec sed lorem eget nibh sagittis dictum. Curabitur libero. Integer molestie mi sed tellus.</p>
                    <p>Praesent imperdiet justo at sem. Nam accumsan dui eget diam.Nulla quis ante eget pede fringilla rutrum. Proin mollis tristique orci. Nam est. Fusce felis nisl, volutpat vel, sollicitudin eu, luctus sit amet, sem. Curabitur risus erat, scelerisque sit amet, mollis id, consectetuer eu, neque. Curabitur sodales semper arcu. Sed ullamcorper arcu eu ante. Vestibulum sed lacus. Quisque vitae libero. Sed quis turpis vitae lectus vehicula tincidunt. Aliquam quam mi, rutrum malesuada, consequat vitae, accumsan ut, lacus. Nulla dictum vestibulum lorem.</p>
                </section>
               

                <section id="team">
                    <h2>Founders</h2>

                    <ul class="clear">
                        <li class="one_quarter first">
                            <figure>
                                <img src="~/img/demo/asaf.jpg" alt="" width="100" height="90">
                                <figcaption>
                                    <p class="team_name">Asaf shavit</p>
                                    <p class="team_title">Developer</p>
                                    <p class="team_description">Software Engineer</p>
                                </figcaption>
                            </figure>
                        </li>
                        <li class="one_quarter">
                            <figure>
                                <img src=" ~/img/demo/eran.jpg" alt="" width="100" height="90">
                                <figcaption>
                                    <p class="team_name">Eran Reuveni</p>
                                    <p class="team_title">Developer</p>
                                    <p class="team_description">Software Engineer</p>
                                </figcaption>
                            </figure>
                        </li>
                        <li class="one_quarter">
                            <figure>
                                <img src=" ~/img/demo/ziv.jpg" alt=" " width="100" height="90">
                                <figcaption>
                                    <p class=" team_name">Ziv Bruhian</p>
                                    <p class="team_title">Developer</p>
                                    <p class="team_description">Software Engineer</p>
                                </figcaption>
                            </figure>
                        </li>

                    </ul>
                </section>
              
            </div>
         </div>
        </div>
    </div>
